<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="student_student_menu" name="Student Management" action="action_student_student"/>
    <menuitem id="student_student_submenu" name="Student" action="action_student_student" parent="student_student_menu"/>
    <menuitem id="school_class_menu" name="Class" action="action_school_class" parent="student_student_menu"/>
    <menuitem id="school_course_menu" name="Course" action="action_school_course" parent="student_student_menu"/>
    <menuitem id="student_partner_menu" name="Partner" action="action_partner_sm" parent="student_student_menu"/>
</odoo>